<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="c07f06c0-369e-4c1b-9c3d-4da7006f322e"
    Publisher="CN=nomad"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="c07f06c0-369e-4c1b-9c3d-4da7006f322e" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>TemplateFiller.UwpProvider</DisplayName>
    <PublisherDisplayName>nomad</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="UwpProvider.App"
      Executable="$targetnametoken$.exe"
      EntryPoint="TemplateFiller.UwpProvider.App">
	  <Extensions>
		<uap:Extension Category="windows.appService" EntryPoint="TemplateFiller.UwpService.EmailService">
	      <uap3:AppService Name="com.microsoft.templateFillerUwp" uap4:SupportsMultipleInstances="true"/>
		</uap:Extension>
	  </Extensions>
      <uap:VisualElements
        DisplayName="TemplateFiller.UwpProvider"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="TemplateFiller.UwpProvider"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>